# ── PostgreSQL ─────────────────────────────
POSTGRES_DB=autotrix
POSTGRES_USER=autotrix_user
POSTGRES_PASSWORD=sua_senha_aqui

# ── RabbitMQ ───────────────────────────────
RABBITMQ_USER=autotrix_mq
RABBITMQ_PASS=sua_senha_mq_aqui

# ── Flask ──────────────────────────────────
FLASK_ENV=development
SECRET_KEY=troque-por-uma-chave-segura
